html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

input[type="radio"], select, input[type="submit"] {
  cursor: pointer;
  outline: none;
}

h2 + .user_review {
  border-top: 1px solid black;
}

/* This is useful when implementing a grid system so that all image elements
will take up 100% width of their containers */
img {
  width: 100%
}

body {
  color: #333;
  font-family: 'Lora', serif;
  width: 80%;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.container {
  /*max-width: 500px;*/
  background-color: aliceblue;
  padding: 0 10px;
  border: 1px double gray;
  box-shadow: 1px 1px 8px gray;
  border-radius: 4px;
}

div.container > .row {
  display: flex;
  justify-content: space-between;
}
